header{
	width: 100%;
	border-bottom: 2px solid #000000;
	background: -moz-linear-gradient(#ADD8E6,white);/*for older versions of mozilla*/
    background: -webkit-linear-gradient(#ADD8E6,white);/*crome and safari*/
    background: -o-linear-gradient(#ADD8E6,white);/*opera*/
	background: linear-gradient(#ADD8E6,white);
}
.headMain{
	width: 1080px;
	height: 120px;
	margin: 0px auto;
}
.div{
	float: left;
}
.logo{
	width: 100px;
	height: 100px;
	margin: 10px 0px;
}
.title{
	width: 860px;
	line-height: 50px;
	padding: 10px;
	color: darkblue;
	font: bold 38px myWebFont1;
}
.headbar{
	color: #90c0e0;
	background-color: #90c0e0;
	font-size: 13px;
	margin: 0px; 
}
a{
	text-decoration: none;
}